@inherits LayoutComponentBase

<head>
    <div class="container grid-item title mt-3">
        <h1>SMART HUB</h1>
        <hr />
    </div>
</head>
<main class="mt-5">
    @Body
</main>
<nav>
    <NavMenu />
</nav>
