<div class="container">
    <NavLink href="" Match="NavLinkMatch.All">
        <i class="fa-duotone fa-solid fa-microchip"></i>
        <span class="title">DEVICES</span>
    </NavLink>

    <NavLink href="new">
        <i class="fa-solid fa-hexagon-plus"></i>
        <span class="title">ADD DEVICE</span>
    </NavLink>

    <NavLink href="settings">
        <i class="fa-duotone fa-solid fa-gear"></i>
        <span class="title">SETTINGS</span>
    </NavLink>
</div>