@inject NavigationManager Navigation

<div class="container">
    <NavLink href="" Match="NavLinkMatch.All">
        <i class="fa-solid fa-router"></i>
        <span class="title">DEVICES</span>
    </NavLink>

    <NavLink href="/newDevice">
        <i class="fa-solid fa-plus"></i>
        <span class="title">ADD DEVICE</span>
    </NavLink>

    <NavLink href="/settings">
        <i class="fa-duotone fa-solid fa-gear"></i>
        <span class="title">SETTINGS</span>
    </NavLink>
</div>