@using SharedResources.Data
@using SharedResources.Models
@using SmartHub.ViewModels
@inject DeviceSettingsVM viewModel
@inject IDatabaseContext _databaseContext

@page "/device-settings/{deviceId}"

<h1 class="settings-headline">SETTINGS</h1>

@code {
    [Parameter] public string deviceId { get; set; }
    public SharedResources.Models.DeviceSettings? Settings { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await _databaseContext.GetSettingsAsync(deviceId);
        if (result.Succeeded)
        {
            Settings = result.Content;
        }
    }
}

@if (Settings != null)
{
    <ul class="settings-list">
        <li>Id: @Settings.Id</li>
        <li>Type: @Settings.Type</li>
         <li>Location: @Settings.Location</li>
        <li class="connection-string-wrap">Connection String: @Settings.ConnectionString</li>
    </ul>
}
else
{
    <p>Loading settings...</p>
}
