@page "/newDevice"
@using SharedResources.Managers
@using SharedResources.Models
@using SmartHub.ViewModels
@inject HttpClient Http
@inject NewDeviceVM viewModel


<div class="new-device-container">

    <h2 class="settings-headline">Create New Device</h2>
    <div>
        <label for="deviceName">Device Name:</label>
        <input id="deviceName" @bind="viewModel.RegistrationRequest!.DeviceName" />
    </div>
    <div>
        <label for="deviceId">Device Type:</label>
        <input id="deviceType" @bind="viewModel.RegistrationRequest.DeviceType" />
    </div>
  
    <div class="button-box">
        <button class="reg-btn" @onclick="viewModel.RegisterDevice">Register Device</button>
    </div>


    @if (!string.IsNullOrEmpty(viewModel.ResponseMessage))
    {
        <p class="text-success">@viewModel.ResponseMessage</p>
    }
</div>

@code {

  
}