<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FanConnectionString" value="HostName=gurra-iothub.azure-devices.net;DeviceId=cabb9896-0fba-47d2-b67d-0279a9745284;SharedAccessKey=ZY2h+rdNJIKDCWG39rJtofVgQYpNfeL0buMulj4Ml9A=" />
		<add key="LightConnectionString" value="HostName=gurra-iothub.azure-devices.net;DeviceId=f0468151-3b8b-4d92-8e42-cf679a27796f;SharedAccessKey=6ycjkPeWyIRubkKcKX9BjTmOuZn0mBr6tAIoTN5ynLI="/>
	</appSettings>
</configuration>