@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-background: #252b27;
    --color-nav-background: #3b3b3b;
    --color-device-background: #FFFFFF;
    --color-device-footer-background: #3B82F6;
    --color-text: #6B7280;
    --color-headline: #111827;
    --color-border-gray: #D1D5DB;
    --container-padding: 1 rem;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: var(--color-text);
    background-color: var(--color-background);
}

h1:focus {
    outline: none;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 64px;
}

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: var(--color-nav-background);
    color: #414145;
    font-size: 0.8rem;
}

    nav .active {
        color: #B7B8BA;
    }

    nav a {
        color: #414145;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;
    }

        nav a i {
            font-size: 40px;
            color: #101211;
        }

    nav .container {
        display: flex;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
    }

.headline {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-headline);
}

.devices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.device {
    background: var(--color-device-background);
    color: #8C8D8F;
    border-radius: 18px;
    overflow: hidden;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
}

    .device .body {
        text-align: center;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

        .device .body i {
            font-size: 2.5em;
        }

        .device .body .state {
            font-size: 0.6em;
            color: green;
        }

    .device footer {
        text-align: center;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        background-color: #101211;
    }

    .device.active {
        background: #101211;
        background: linear-gradient(0deg, rgba(65,83,90,1) 0%, rgba(119,149,157,0.9) 67%, rgba(179,227,236,0.8) 100%);
        transition: all 0.4s ease-in-out;
        color: #ffffff;
    }

        .device.active footer {
            background-color: #101211;
        }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    transition: all 0.4s ease-in-out;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .switch .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        transition: .4s;
    }

        .switch .slider:before {
            position: absolute;
            content: "";
            height: 24px;
            width: 24px;
            left: 4px;
            bottom: 3px;
            background-color: red;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.30);
            transition: .4s;
            border-radius: 50%;
        }

    .switch input:checked + .slider {
        background-color: rgba(0, 0, 0, 0.4);
    }

        .switch input:checked + .slider:before {
            transform: translateX(28px);
            background-color: green;
        }

    .switch .slider.round {
        border-radius: 34px;
    }

.grid-item {
    display: grid;
    text-align: center;
}

.icon-light {
    color: yellow;
}

.icon-fan {
    color: ghostwhite;
}

.icon-temp {
    color: red;
}

.device-container {
    background-color: #101211;
    border: none;
}

.title {
    color: ghostwhite;
}

.device-name {
    color: darkslategrey;
}

.connected {
    color: green;
}

.not-connected {
    color: red;
}

.new-device-container {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input {
    width: 75%;
}

.cs-box {
    padding: 20px;
    word-break: break-all; 
    overflow-wrap: break-word;
    white-space: normal;
}

.button-box {
    width: 50%;
}

.reg-btn {
    background-color: #4CAF50; 
    border: none;
    color: white; 
    padding: 15px 32px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin-left: 140px;
    cursor: pointer; 
    border-radius: 8px; 
    transition: background-color 0.3s ease;
}

    .reg-btn:hover {
        background-color: #45a049;
    }

    .reg-btn:active {
        background-color: #3e8e41; 
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spin {
    display: inline-block;
    animation: spin 2s linear infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
        color: rgba(255, 223, 0, 0.7), rgba(255, 223, 0, 0.5);
    }

    50% {
        opacity: 1;
        color: rgba(255, 223, 0, 0.9), rgba(255, 223, 0, 0.7);
    }

    100% {
        opacity: 0.5;
        color: rgba(255, 223, 0, 0.7), rgba(255, 223, 0, 0.5);
    }
}

.pulse {
    border-radius: 20px;
    animation: pulse 1.5s infinite ease-in-out;
    color: #ffdf00;
}

@keyframes tempPulse {
    0% {
        color: #0e5ce3;
    }

    10% {
        color: #2b6de0;
    }

    20% {
        color: #3e78de;
    }

    30% {
        color: #5b8ade;
    }

    40% {
        color: #81a2de;
    }

    50% {
        color: #a88c8c;
    }

    60% {
        color: #a67979;
    }

    70% {
        color: #a36565;
    }

    80% {
        color: #a15050;
    }

    90% {
        color: #a12f2f;
    }

    100% {
        color: #a80000;
    }
}

.temp-pulse {
    animation: tempPulse 2s infinite ease-in-out; 
}

.no-background {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: unset !important;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.trash-button {
    color: red;
}
